<ul>
    <!--    LIST ITEM -->
    <li>
        <!--        ETIQUETA a conocida como anchor (ancla)-->
        <a href="/usuario/vista/inicio">Inicio</a>
    </li>
    <li><a href="/usuario/vista/faq">FAQ</a>
    </li><li><a href="/usuario/vista/login">Login</a>
    </li>
</ul>